.desktopIcon {
  width: 96px;
  height: 116px;
  /* background-color: red; */
  margin: 0;
  padding: 0;
}
.desktopIcon img {
  width: 96px;
  height: 96px;
}
.desktopIcon p {
  height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}
