#desktopScreen {
  height: 100vh;
  width: 100vw;
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.layout {
  background: none !important;
  /* opacity: 0.3; */
}

.react-grid-item.react-grid-placeholder {
  background: none !important;
}
